[package]
name = "powdr-riscv-executor"
description = "powdr-asm RISCV executor"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
powdr-analysis = { path = "../analysis" }
powdr-ast = { path = "../ast" }
powdr-executor = { path = "../executor" }
powdr-importer = { path = "../importer" }
powdr-number = { path = "../number" }
powdr-parser = { path = "../parser" }

log = "0.4.17"
itertools = "0.11"
num-bigint = "0.4.3"
num-traits = "0.2.15"
