[workspace]

members = [
    "number",
    "parser",
    "powdr_cli",
    "executor",
    "riscv",
    "parser_util",
    "pil_analyzer",
    "compiler",
    "pilgen",
    "halo2",
    "ast",
    "analysis",
]

[patch."https://github.com/privacy-scaling-explorations/halo2.git"]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/kilic/halo2", branch = "shuffle" }

[patch.crates-io]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/kilic/halo2", branch = "shuffle" }
