[workspace]

members = [
    "number",
    "parser",
    "powdr_cli",
    "executor",
    "riscv",
    "parser_util",
    "pil_analyzer",
    "compiler",
    "pilopt",
    "asm_to_pil",
    "halo2",
    "backend",
    "ast",
    "analysis",
    "linker",
    "asm_utils",
]

# Running "cargo build" on root directory will by default build just
# "powdr_cli", which may skip disabled dependencies.
default-members = ["powdr_cli"]

[patch."https://github.com/privacy-scaling-explorations/halo2.git"]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/powdr-org/halo2", branch = "kilic/shuffle" }

[patch.crates-io]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/powdr-org/halo2", branch = "kilic/shuffle" }

[profile.release-with-debug]
inherits = "release"
debug = true
