[workspace]

resolver = "2"

members = [
    "number",
    "parser",
    "powdr_cli",
    "executor",
    "riscv",
    "parser_util",
    "pil_analyzer",
    "compiler",
    "pilopt",
    "asm_to_pil",
    "halo2",
    "backend",
    "bberg",
    "bberg_pil_cli",
    "ast",
    "analysis",
    "linker",
    "asm_utils",
    "airgen",
    "type_check",
]

[patch."https://github.com/privacy-scaling-explorations/halo2.git"]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/powdr-org/halo2", branch = "kilic/shuffle" }

[patch.crates-io]
# TODO change back to this once the PR is merged
#halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", rev = "d3746109d7d38be53afc8ddae8fdfaf1f02ad1d7" }
halo2_proofs = { git = "https://github.com/powdr-org/halo2", branch = "kilic/shuffle" }

[profile.pr-tests]
inherits = "dev"
opt-level = 3
debug = "line-tables-only"
debug-assertions = true
overflow-checks = true
panic = 'unwind'
incremental = true         # This is true because target is cached
codegen-units = 256
