[package]
name = "halo2"
version = "0.1.0"
edition = "2021"

[dependencies]
number = { path = "../number" }
pil_analyzer = { path = "../pil_analyzer" }
executor = { path = "../executor" }
polyexen = { git = "https://github.com/Dhole/polyexen", branch = "feature/shuffles" }
halo2_proofs = "0.2"
halo2_curves = { git = "https://github.com/privacy-scaling-explorations/halo2curves", tag = "0.3.2", package = "halo2curves" }
snark-verifier = { git = "https://github.com/privacy-scaling-explorations/snark-verifier" }
num-traits = "0.2.15"
num-integer = "0.1.45"
itertools = "^0.10"
num-bigint = "^0.4"
log = "0.4.17"
rand = "0.8.5"
ast = { version = "0.1.0", path = "../ast" }

[dev-dependencies]
importer = { path = "../importer" }
analysis = { path = "../analysis" }
executor = { path = "../executor" }
parser = { path = "../parser" }
airgen = { path = "../airgen" }
test-log = "0.2.12"
env_logger = "0.10.0"
linker = { path = "../linker" }
