[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[features]

[dependencies]
bberg = { path = "../bberg"}

pil_analyzer = { path = "../pil_analyzer" }
number = { path = "../number" }
ast = { path = "../ast" }
strum = { version = "0.24.1", features = ["derive"] }
log = "0.4.17"
serde_json = "1.0"
thiserror = "1.0.43"
starky = { git = "https://github.com/0xEigenLabs/eigen-zkvm.git", rev = "4ed1da7" }

[dev-dependencies]
mktemp = "0.5.0"
test-log = "0.2.12"
env_logger = "0.10.0"
pretty_assertions = "1.4.0"
