[package]
name = "u256-example"
version = "0.0.0"
edition = "2021"

[workspace]
members = []

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", branch = "support-sotfware-fallback", features = [
  "std",
] }
ruint = "1.16"
