[package]
name = "powdr-pipeline"
description = "powdr compiler pipeline from asm to proof"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
halo2 = ["dep:powdr-halo2", "powdr-backend/halo2"]

[dependencies]
powdr-airgen = { path = "../airgen" }
powdr-analysis = { path = "../analysis" }
powdr-asm-to-pil = { path = "../asm-to-pil" }
powdr-asm-utils = { path = "../asm-utils" }
powdr-ast = { path = "../ast" }
powdr-backend = { path = "../backend" }
powdr-executor = { path = "../executor" }
powdr-halo2 = { path = "../halo2", optional = true }
powdr-importer = { path = "../importer" }
powdr-linker = { path = "../linker" }
powdr-number = { path = "../number" }
powdr-parser = { path = "../parser" }
powdr-parser-util = { path = "../parser-util" }
powdr-pilopt = { path = "../pilopt" }
powdr-pil-analyzer = { path = "../pil-analyzer" }

itertools = "^0.10"
log = "0.4.17"
mktemp = "0.5.0"
serde = { version = "1.0", default-features = false, features = ["alloc", "derive", "rc"] }
serde_cbor = "0.11.2"

[dev-dependencies]
powdr-riscv = { path = "../riscv" }

test-log = "0.2.12"
env_logger = "0.10.0"
criterion = { version = "0.4", features = ["html_reports"] }

[build-dependencies]
walkdir = "2.4.0"

[[bench]]
name = "executor_benchmark"
harness = false
