[package]
name = "powdr-pipeline"
description = "powdr compiler pipeline from asm to proof"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
default = [] # halo2 is disabled by default
halo2 = ["powdr-backend/halo2"]
plonky3 = ["powdr-backend/plonky3"]
estark-polygon = ["powdr-backend/estark-polygon"]

[dependencies]
powdr-airgen.workspace = true
powdr-analysis.workspace = true
powdr-asm-to-pil.workspace = true
powdr-asm-utils.workspace = true
powdr-ast.workspace = true
powdr-backend.workspace = true
powdr-executor.workspace = true
powdr-importer.workspace = true
powdr-linker.workspace = true
powdr-number.workspace = true
powdr-parser.workspace = true
powdr-parser-util.workspace = true
powdr-pilopt.workspace = true
powdr-pil-analyzer.workspace = true
powdr-schemas.workspace = true

itertools = "0.13"
log = "0.4.17"
mktemp = "0.5.0"
serde = { version = "1.0", default-features = false, features = ["alloc", "derive", "rc"] }
serde_cbor = "0.11.2"
num-traits = "0.2.15"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
criterion = { version = "0.4", features = ["html_reports"] }

[package.metadata.cargo-udeps.ignore]
development = ["env_logger"]

[build-dependencies]
walkdir = "2.4.0"

[[bench]]
name = "evaluator_benchmark"
harness = false

[lints.clippy]
uninlined_format_args = "deny"
