[package]
name = "powdr-pipeline"
description = "powdr compiler pipeline from asm to proof"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
default = []
halo2 = ["powdr-backend/halo2"]
plonky3 = ["powdr-backend/plonky3"]
stwo = ["powdr-backend/stwo"]

plonky3-simd = ["powdr-backend/plonky3-simd"]

[dependencies]
powdr-airgen.workspace = true
powdr-analysis.workspace = true
powdr-asmopt.workspace = true
powdr-asm-to-pil.workspace = true
powdr-ast.workspace = true
powdr-backend.workspace = true
powdr-executor.workspace = true
powdr-importer.workspace = true
powdr-linker.workspace = true
powdr-number.workspace = true
powdr-parser.workspace = true
powdr-parser-util.workspace = true
powdr-pilopt.workspace = true
powdr-pil-analyzer.workspace = true
powdr-schemas.workspace = true

itertools = "0.13"
log = "0.4.27"
mktemp = "0.5.0"
serde = { version = "1.0", default-features = false, features = [
  "alloc",
  "derive",
  "rc",
] }
serde_cbor = "0.11.2"
num-traits = "0.2.15"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
criterion = { version = "0.4", features = ["html_reports"] }
powdr-jit-compiler.workspace = true

[package.metadata.cargo-udeps.ignore]
development = ["env_logger"]

[build-dependencies]
walkdir = "2.4.0"

[[bench]]
name = "evaluator_benchmark"
harness = false

[[bench]]
name = "jit_witgen_benchmark"
harness = false

[lints]
workspace = true

[lib]
bench = false # See https://github.com/bheisler/criterion.rs/issues/458
