[workspace]
[package]
name = "guest-keccak-stdin"
version = "0.0.0"
edition = "2021"

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git" }
tiny-keccak = { version = "2.0.2", features = ["keccak"] }

[profile.release-with-debug]
inherits = "release"
debug = true
