[package]
name = "powdr-cli"
description = "powdr CLI to compile powdr-asm and powdr-pil programs"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
default-run = "powdr"

[features]
default = [] # halo2 is disabled by default
halo2 = ["powdr-backend/halo2", "powdr-pipeline/halo2"]
plonky3 = ["powdr-backend/plonky3", "powdr-pipeline/plonky3"]
estark-polygon = [
  "powdr-backend/estark-polygon",
  "powdr-pipeline/estark-polygon",
]
stwo=["powdr-backend/stwo","powdr-pipeline/stwo"]

simd = ["powdr-backend/simd", "powdr-pipeline/simd"]

[dependencies]
powdr-backend.workspace = true
powdr-number.workspace = true
powdr-parser.workspace = true
powdr-pilopt.workspace = true
powdr-pipeline.workspace = true

clap = { version = "^4.3", features = ["derive"] }
env_logger = "0.10.0"
log = "0.4.17"
strum = { version = "0.24.1", features = ["derive"] }
clap-markdown = "0.1.3"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["std", "env-filter"] }
tracing-forest = { version = "0.1.6", features = ["ansi", "smallvec"] }

[dev-dependencies]
tempfile = "3.6"

test-log = "0.2.12"
env_logger = "0.10.0"

[[bin]]
name = "powdr"
path = "src/main.rs"

[lints.clippy]
uninlined_format_args = "deny"
