[package]
name = "powdr-cli"
description = "powdr CLI"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
default-run = "powdr"

[features]
default = [] # halo2 is disabled by default
halo2 = ["powdr-backend/halo2", "powdr-pipeline/halo2"]
estark-polygon = ["powdr-backend/estark-polygon", "powdr-pipeline/estark-polygon"]

[dependencies]
powdr-backend = { path = "../backend" }
powdr-number = { path = "../number" }
powdr-parser = { path = "../parser" }
powdr-pilopt = { path = "../pilopt" }
powdr-pipeline = { path = "../pipeline" }
powdr-riscv = { path = "../riscv" }
powdr-riscv-executor = { path = "../riscv-executor" }

clap = { version = "^4.3", features = ["derive"] }
env_logger = "0.10.0"
log = "0.4.17"
strum = { version = "0.24.1", features = ["derive"] }
clap-markdown = "0.1.3"

[dev-dependencies]
tempfile = "3.6"

test-log = "0.2.12"
env_logger = "0.10.0"

[[bin]]
name = "powdr"
path = "src/main.rs"
