[package]
name = "powdr-pil-analyzer"
description = "powdr-PIL compiler and analyzer"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
powdr-ast = { path = "../ast" }
powdr-number = { path = "../number" }
powdr-parser = { path = "../parser" }
powdr-parser-util = { path = "../parser-util" }
lazy_static = "1.4.0"

itertools = "^0.10"
num-bigint = "0.4.3"
num-traits = "0.2.15"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
pretty_assertions = "1.3.0"
