[package]
name = "u256-example"
version = "0.0.0"
edition = "2021"

[workspace]
members = []

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", rev = "2dd3ebcf6d1ba6c8", features = [
  "std",
] }
openvm-ruint = { git = "https://github.com/powdr-labs/openvm.git", rev = "2dd3ebcf6d1ba6c8", package = "ruint" }
