[package]
name = "executor"
version = "0.1.0"
edition = "2021"

[dependencies]
itertools = "^0.10"
log = { version = "0.4.17" }
ast = { path = "../ast" }
number = { path = "../number" }
parser_util = { path = "../parser_util" }
pil_analyzer = { path = "../pil_analyzer" }
rayon = "1.7.0"
bit-vec = "0.6.3"
num-traits = "0.2.15"
lazy_static = "1.4.0"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
pretty_assertions = "1.3.0"
