[package]
name = "powdr-riscv-runtime"
description = "powdr runtime provider for RISCV programs"
version = "0.1.0-alpha.2"
edition = "2021"
license = "MIT"
homepage = "https://powdr.org"
repository = "https://github.com/powdr-labs/powdr"

[dependencies]
serde = { version = "1.0", default-features = false, features = ["alloc", "derive", "rc"] }
serde_cbor = { version = "0.11.2", default-features = false, features = ["alloc"] }
powdr-riscv-syscalls = { path = "../riscv-syscalls", version = "0.1.0-alpha.2" }

[features]
std = ["serde/std", "serde_cbor/std"]

[workspace]

[lints.clippy]
uninlined_format_args = "deny"
