[package]
name = "powdr"
description = "Main powdr crate, re-exporting the key APIs"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
powdr-ast.workspace = true
powdr-backend.workspace = true
powdr-executor.workspace = true
powdr-number.workspace = true
powdr-pil-analyzer.workspace = true
powdr-pipeline.workspace = true
powdr-riscv.workspace = true
powdr-riscv-executor.workspace = true

[features]
default = ["halo2", "plonky3","stwo"]
plonky3 = ["powdr-backend/plonky3", "powdr-pipeline/plonky3"]
halo2 = ["powdr-backend/halo2", "powdr-pipeline/halo2"]
estark-polygon = [
  "powdr-backend/estark-polygon",
  "powdr-pipeline/estark-polygon",
  "powdr-riscv/estark-polygon",
]
stwo = ["powdr-backend/stwo"]
simd = ["powdr-backend/simd", "powdr-pipeline/simd"]

[lints.clippy]
uninlined_format_args = "deny"
