[package]
name = "powdr"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
executor = { path = "../executor" }
number = { path = "../number" }
pipeline = { path = "../pipeline" }
riscv = { path = "../riscv" }
riscv_executor = { path = "../riscv_executor" }
