[workspace]
[package]
name = "openvm-ecc-powdr-affine-hint"
version = "0.0.0"
edition = "2021"

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", branch = "support-sotfware-fallback", features = [
  "std",
] }
k256 = { git = "https://github.com/powdr-labs/elliptic-curves-k256", branch = "fallback-to-software", default-features = false, features = [
  "expose-field",
  "arithmetic",
] }
hex-literal = "1.0.0"
