[workspace]
[package]
name = "openvm-ecc-powdr-affine-hint"
version = "0.0.0"
edition = "2021"

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", rev = "v1.4.2-powdr-rc.2", features = [
  "std",
] }
k256 = { git = "https://github.com/powdr-labs/elliptic-curves-k256", rev = "f0cc50094555d710c99277dafe726cdb09812262", default-features = false, features = [
  "expose-field",
  "arithmetic",
] }
hex-literal = "1.0.0"
