[package]
name = "powdr-openvm"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-build = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-rv32im-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-rv32im-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-rv32im-guest = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc", default-features = false }
openvm-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-circuit-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-circuit-primitives = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-circuit-primitives-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-instructions = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-instructions-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-sdk = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc", default-features = false, features = [
  "parallel",
  "jemalloc",
  "nightly-features",
  "bench-metrics",
] }
openvm-ecc-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-ecc-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-keccak256-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-keccak256-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-sha256-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-sha256-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-algebra-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-algebra-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-bigint-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-bigint-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-pairing-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-pairing-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc" }
openvm-native-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc", default-features = false }
openvm-native-recursion = { git = "https://github.com/powdr-labs/openvm.git", rev = "f12a2fc", default-features = false }

openvm-stark-sdk = { git = "https://github.com/powdr-labs/stark-backend.git", rev = "fe1c5a8", default-features = false, features = [
  "parallel",
  "jemalloc",
  "nightly-features",
] }
openvm-stark-backend = { git = "https://github.com/powdr-labs/stark-backend.git", rev = "fe1c5a8", default-features = false, features = [
  "parallel",
  "jemalloc",
] }

powdr-expression.workspace = true
powdr-number.workspace = true
powdr-riscv-elf.workspace = true
powdr-autoprecompiles.workspace = true
powdr-constraint-solver.workspace = true

eyre = "0.6.12"
serde = "1.0.217"
derive_more = { version = "2.0.1", default-features = false, features = [
  "from",
] }
strum = "0.26.3"
itertools = "0.14.0"

tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["std", "env-filter"] }

clap = { version = "^4.3", features = ["derive"] }

log = "0.4.17"
serde_cbor = "0.11.2"
struct-reflection = { git = "https://github.com/gzanitti/struct-reflection-rs.git" }

[dev-dependencies]
test-log = { version = "0.2.17", features = ["trace"] }
pretty_assertions = "1.4.0"

[lib]
bench = false # See https://github.com/bheisler/criterion.rs/issues/458
