[package]
name = "powdr-openvm"
version = "0.1.4"
edition = "2021"

[dependencies]
openvm = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-build = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-rv32im-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-rv32im-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-rv32im-guest = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049", default-features = false }
openvm-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-circuit-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-circuit-primitives = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-circuit-primitives-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-instructions = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-instructions-derive = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-sdk = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-ecc-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-keccak256-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-keccak256-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-sha256-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-sha256-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-algebra-transpiler = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049" }
openvm-native-circuit = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049", default-features = false }
openvm-native-recursion = { git = "https://github.com/powdr-labs/openvm.git", rev = "2868049", default-features = false }

openvm-stark-sdk = { git = "https://github.com/powdr-labs/stark-backend.git", rev = "dacb25f", default-features = false }
openvm-stark-backend = { git = "https://github.com/powdr-labs/stark-backend.git", rev = "dacb25f", default-features = false }

powdr.workspace = true
powdr-autoprecompiles.workspace = true
powdr-constraint-solver.workspace = true

eyre = "0.6.12"
serde = "1.0.217"
derive_more = { version = "2.0.1", default-features = false, features = [
  "from",
] }
strum = "0.26.3"
itertools = "0.14.0"

tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["std", "env-filter"] }

clap = { version = "^4.3", features = ["derive"] }

log = "0.4.17"
serde_cbor = "0.11.2"

[dev-dependencies]
test-log = { version = "0.2.17", features = ["trace"] }

[lib]
bench = false # See https://github.com/bheisler/criterion.rs/issues/458

# Uncomment both patches below for local stark-backend and openvm.
# The local openvm also needs to have stark-backend patched so all types match.
#[patch."https://github.com/powdr-labs/stark-backend.git"]
#openvm-stark-sdk = { path = "../../stark-backend/crates/stark-sdk", default-features = false }
#openvm-stark-backend = { path = "../../stark-backend/crates/stark-backend", default-features = false }
#
#[patch."https://github.com/powdr-labs/openvm.git"]
#openvm-transpiler = { path = "../../openvm/crates/toolchain/transpiler" }
#openvm = { path = "../../openvm/crates/toolchain/openvm" }
#openvm-build = { path = "../../openvm/crates/toolchain/build" }
#openvm-rv32im-circuit = { path = "../../openvm/extensions/rv32im/circuit/" }
#openvm-rv32im-transpiler = { path = "../../openvm/extensions/rv32im/transpiler" }
#openvm-rv32im-guest = { path = "../../openvm/extensions/rv32im/guest" }
#openvm-circuit = { path = "../../openvm/crates/vm" }
#openvm-circuit-derive = { path = "../../openvm/crates/vm/derive" }
#openvm-circuit-primitives = { path = "../../openvm/crates/circuits/primitives" }
#openvm-circuit-primitives-derive = { path = "../../openvm/crates/circuits/primitives/derive" }
#openvm-instructions = { path = "../../openvm/crates/toolchain/instructions" }
#openvm-instructions-derive = { path = "../../openvm/crates/toolchain/instructions/derive" }
#openvm-sdk = { path = "../../openvm/crates/sdk" }
#openvm-ecc-transpiler = { path = "../../openvm/extensions/ecc/transpiler" }
#openvm-keccak256-circuit = { path = "../../openvm/extensions/keccak256/circuit" }
#openvm-keccak256-transpiler = { path = "../../openvm/extensions/keccak256/transpiler" }
#openvm-sha256-circuit = { path = "../../openvm/extensions/sha256/circuit" }
#openvm-sha256-transpiler = { path = "../../openvm/extensions/sha256/transpiler" }
#openvm-algebra-transpiler = { path = "../../openvm/extensions/algebra/transpiler" }
#openvm-native-circuit = { path = "../../openvm/extensions/native/circuit" }
#openvm-native-recursion = { path = "../../openvm/extensions/native/recursion" }
