[package]
name = "powdr-pilopt"
description = "powdr-PIL optimizer"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
powdr-ast.workspace = true
powdr-number.workspace = true
powdr-constraint-solver.workspace = true
powdr-pil-analyzer.workspace = true

log = "0.4.27"
pretty_assertions = "1.4.0"
itertools = "0.13.0"

[dev-dependencies]
expect-test = "1.5.1"

[lints]
workspace = true

[lib]
bench = false # See https://github.com/bheisler/criterion.rs/issues/458
