[package]
name = "powdr-riscv"
build = "build.rs"
description = "powdr RISCV frontend"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
default = [] # complex-tests is disabled by default
complex-tests = []
estark-polygon = ["powdr-backend/estark-polygon"]

[dependencies]
powdr-ast = { path = "../ast" }
powdr-asm-utils = { path = "../asm-utils" }
powdr-executor = { path = "../executor" }
powdr-number = { path = "../number" }
powdr-parser = { path = "../parser" }
powdr-parser-util = { path = "../parser-util" }
powdr-pipeline = { path = "../pipeline" }
powdr-riscv-executor = { path = "../riscv-executor" }
powdr-riscv-syscalls = { path = "../riscv-syscalls" }

lazy_static = "1.4.0"
itertools = "^0.10"
lalrpop-util = { version = "^0.19", features = ["lexer"] }
log = "0.4.17"
mktemp = "0.5.0"
num-traits = "0.2.15"
serde_json = "1.0"
# This is only here to work around https://github.com/lalrpop/lalrpop/issues/750
# It should be removed once that workaround is no longer needed.
regex-syntax = { version = "0.6", default_features = false, features = [
    "unicode",
] }

[build-dependencies]
lalrpop = "^0.19"

[dev-dependencies]
powdr-number = { path = "../number" }
powdr-backend = { path = "../backend" }

test-log = "0.2.12"
env_logger = "0.10.0"
hex = "0.4.3"

serde = { version = "1.0", default-features = false, features = ["alloc", "derive", "rc"] }

[package.metadata.cargo-udeps.ignore]
development = ["env_logger"]
