[package]
name = "riscv"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
itertools = "^0.10"
lalrpop-util = { version = "^0.19", features = ["lexer"] }
log = "0.4.17"
mktemp = "0.5.0"
number = { path = "../number" }
parser_util = { path = "../parser_util" }
asm_utils = { path = "../asm_utils" }
serde_json = "1.0"
# This is only here to work around https://github.com/lalrpop/lalrpop/issues/750
# It should be removed once that workaround is no longer needed.
regex-syntax = { version = "0.6", default_features = false, features = [
    "unicode",
] }
executor = { path = "../executor" }
riscv_executor = { path = "../riscv_executor" }
compiler = { path = "../compiler" }

[build-dependencies]
lalrpop = "^0.19"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
hex = "0.4.3"
number = { path = "../number" }
